{% extends "__layout.twig" %}

{% block content %}

<ul class="list-group">
    <li class="list-group-item">
        Вы на главной странице, этот сайт посвящён вселенной Portal.<br>
    </li>
    <div class="row">
        {% for object in portal_characters %}
            {% include "_menu_item.twig" with {menu: object} %} 
        {% endfor %}
    </div>
</ul>

{% endblock %}